
//
#cke_edit-ateliersmod-fsadress-text-value{
    iframe{
        background-color:#00a886 !important;
        font-size : 50em;
        p{
            &.wdefault{

                color: white !important;
            }

        }
    }

}
