@import "singularitygs";
@import "breakpoint";
@import "../variables/variables";
@include add-grid(12);
@include add-gutter(0);
//@include add-guttertyle('split');
//sdf
body {
    
    font-size: 17px;
    //sdfg
    //qsdf
}

a {
    &:hover,
    &:link,
    &:active,
    &:visited {
        color: black;
        text-decoration: red;
    }
}

.l-header {

    background-color:#cccccc;
    max-width: $max;
    display: none;
    position: relative;
    @include breakpoint($tablet) {
        display: block;
        margin:auto;   
    }

    .logo {

        @include grid-span(2,1);
        
        text-align: center;
        padding:0.5rem;
        img{
            width:100%;
            max-width:8rem;

        }

    }

    .menu {

        @include grid-span(8,3);

        .menu {

            &:before {

                content:"";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 16px 28px 16px;

                @include breakpoint($laptop) {
                    border-width: 0 32px 48px 32px;
                }

                @include breakpoint($laptopl) {
                    border-width: 0 39px 56px 39px;
                }

                border-color: transparent transparent $grey transparent;
                z-index: 10000;
                position: absolute;

                margin-top: -26px;
                margin-left: -48px;

                @include breakpoint($laptop) {
                    margin-top: -26px;
                    margin-left: -80px;
                }

                @include breakpoint($laptopl) {
                    margin-top: -33px;
                    margin-left: -80px;
                }

            }

            @include grid-span(2,1);
            font-size:0.5rem;

            li {

                line-height: 65px;

            }

        }
       
    }
   
}

.burger {
    display: block;
    @include breakpoint($tablet) {
        display:none ;
    }
    /*
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    transition: all 1.5s;
    */
    top: $margin;
    right:$margin;
    //left: 83vw;
    position: fixed;
    width: 60px;
    height: auto;
    cursor: pointer;
    z-index:1000;
    /* $offsetX : 37.099998px;
        $offsetY : 20.4px;
        $offsetY_2 : 16.5px;
        $offsetY_3 : 24.4px;
        $widthX: 11.8px; */
    $offsetX: 10.8px;
    $offsetY: 15.7px;
    $offsetY_2: 31.4px;
    $offsetY_3: 47.1px;
    $widthX: 46.7438px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
    circle {
        opacity: 0.3;
    }
    #burger_1 {
        transform: translate(10.8px, 5.7px) rotate(0deg);
        transition: all 200ms linear;
        transform-origin: $widthX/2 $offsetY;
        fill: white;
    }
    #burger_2 {
        transform: translate(10.8px, 5.7px) rotate(0deg);
        fill: white;
    }
    #burger_3 {
        transform: translate(10.8px, 5.7px) rotate(0deg);
        transition: all 200ms linear;
        transform-origin: $offsetX+($widthX/2) $offsetY_3;
        fill: white;
    }
    &.o {
        #burger_1 {
            transform: translate($offsetX+2, 5.7px+($offsetY)/2) rotate(45deg);
        }
        #burger_2 {
            opacity: 0;
        }
        #burger_3 {
            transform: translate($offsetX+3, -(5.7px+($offsetY_2)/2)) rotate(-45deg);
            //translate(($offsetX), -($offsetY_3 - $offsetY_2))
        }
        #g10 {
            transform: translate(-0.1px, 0);
        }
    }
}

.l-page {
    @include background-grid($color: grey);
    margin: auto;
    max-width: $max;
}

.l-content {
    //background-color: yellow;
    @include grid-span(12, 1);
    position: relative;
    //height:2337px;
}
.l-shield{
    transition: height 0ms ease-in-out 400ms,
                opacity 400ms ease-in-out 0ms;
    opacity : 0; 
    position: fixed;
    top: 0;
    width: 100%;
    height: 0;
    background-color: rgba(255,255,255,0.7);
    &.o {
         transition: height 0ms ease-in-out 0ms,
                opacity 400ms ease-in-out 0ms;
        opacity:1;
        height:100%;
    }
}



.l-footer {
    position: relative;
    background-color: #4b4b4b;
    text-align: center;
    display: block;
    font: 3vw 'SourceSansProRegular', sans-serif;
    text-transform: uppercase;
    padding: 3vw;
    a {
        &:hover,
        &:link,
        &:active,
        &:visited {
            color: #05aa88;
        }
    }
    color: #05aa88;
    @include grid-span(12, 1);
    .menu {
        text-align: center;
        li {
            content: "|";
            display: inline;
        }
    }
    @include breakpoint($laptop) {
        font-size: 1.5vw;
    }
    .reseaux {
        position: absolute;
        left: 90%;
        right: 0;
        top: 41%;
        img {
            width: 3vw;
            margin-right: 1vw;
            @include breakpoint($laptop) {
                width: 2vw;
            }
        }
    }
}

.l-map {
    @include grid-span(12, 1);
    .bloc1 {
        background-color: cyan;
        height: 341px;
        //@include grid-span(12,1);
        @include breakpoint($laptop) {
            @include grid-span(6, 7);
        }
    }
    .bloc2 {
        background-color: #00a886;
        @include breakpoint($laptop) {
            @include grid-span(6, 7);
        }
        .text-presentation {
            font-family: "SourceSansProLight";
            color: #ffffff;
            text-align: center;
            h1 {
                font-family: "SourceSansProRegular";
                text-transform: uppercase;
            }
            .petit {
                font-size: 15px;
            }
            .tel {
                width: 1.05em;
            }
        }
    }
    display: block;
}
