@import "singularitygs";
@import "breakpoint";
@import "../variables/variables";

@include add-grid(12);
@include add-gutter(0);
//@include add-guttertyle('split');
@include sgs-change('debug', true);
body {}

a {
    &:hover,
    &:link,
    &:active,
    &:visited {
        color: black;
        text-decoration: none;
    }
}

.l-header {
    display: none;
    margin: 0 auto;
    position: relative;
    background-color: white;
    
    @include grid-span(12, 1);
    
    @include breakpoint($laptop) {
        display: block;
        /*
            background-image: url(../images/bkg_home_web.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            position:absolute;
        */
    }
    
    .menu {
    
        text-transform: uppercase;
        padding: 1vw;
        text-align: center;
        font-size: 1.25vw;
        
        .leaf {
            
            display: inline-block;
            padding:3vw 2vw;
            
        }
        
    }
    
    
    .logo {
        
        width:10vw;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top:1.5vw;
        left:0;
        right:66vw;
        
    }
    
}

.burger {
    
    @include breakpoint($tablet) {
        display: none;
    }
    
    -webkit-transition: all 2.5s;
    -moz-transition: all 2.5s;
    transition: all 2.5s;
    top: 50px;
    left: 64vw;
    position: fixed;
    width: 14vw;
    height: auto;
    cursor: pointer;
    z-index:1000;
    
    /* $offsetX : 37.099998px;
        $offsetY : 20.4px;
        $offsetY_2 : 16.5px;
        $offsetY_3 : 24.4px;
        $widthX: 11.8px; */
    
    $offsetX: 10.8px;
    $offsetY: 15.7px;
    $offsetY_2: 31.4px;
    $offsetY_3: 47.1px;
    $widthX: 46.7438px;
    
    -webkit-transition: all 2500ms;
    -moz-transition: all 2500ms;
    transition: all 2500ms;
    
    /*
    &.h{       
        opacity: 0;
    } 
    */
    
    circle {
        opacity: 0.3;
    }
    
     #burger_1 {
         
            transform: translate(10.8px, 5.7px) rotate(0deg);
            transition: all 200ms linear;
            transform-origin: $widthX/2 $offsetY;
            fill: white;
        }
    
    #burger_2 {
        
        transform: translate(10.8px, 5.7px) rotate(0deg);
        fill: white;
        
        }
    
    #burger_3 {

            transform: translate(10.8px, 5.7px) rotate(0deg);
            transition: all 200ms linear;
            transform-origin: $offsetX+($widthX/2) $offsetY_3;
            fill: white;

        }
    
    &.o {
        
        #burger_1 {
            
            transform: translate($offsetX+2, 5.7px+($offsetY)/2) rotate(45deg);
                
        }
        
        #burger_2 {
            
            opacity: 0;
        }
        
        #burger_3 {
            
            transform: translate($offsetX+3, -(5.7px+($offsetY_2)/2)) rotate(-45deg);
            //translate(($offsetX), -($offsetY_3 - $offsetY_2))
            
        }
        
        #g10 {
            
            transform: translate(-0.1px, 0);
            
        }
    } 
}

.l-page {
    @include background-grid($color: grey);
    margin: auto;
    max-width: $max;
}

.l-content {
    //background-color: yellow;
    @include grid-span(12, 1);
    position: relative;
    //height:2337px;
}

.l-off {
    background-color: #4b4b4b;
    text-transform: uppercase;
    display: block;
    
    @include grid-span(12, 1);
    @include breakpoint($laptop) {
        //@include grid-span(6,1);
        display: none;
    }
    
    position: fixed;
    top: 0;
    width: 40vw;
    height: 154vw;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    
    &.h {
        visibility: hidden;
        left: -250px;
    }
    
    &.o {
        left: 0px;
        /*     -webkit-transform:translate3d(260px, 0, 0);
    -moz-transform:translate3d(260px, 0, 0);
    -o-transform:translate3d(260px, 0, 0);
    transform:translate3d(260px, 0, 0); */
    }
    
    li.leaf {
        
        margin-top: 14vw;
        border-bottom:solid 1px white;
        margin-top: 6vw;
        border-bottom: solid 1px white;
        padding-bottom: 20px;
        list-style-type: none;
        list-style-image: none;
        
    }
    
    a {
        
        color:white;
        
    }
    
    .logo {
        
        width: 24vw;
        margin: 0 auto;
        display: block;
        margin-top: 4vw;
    }
    
    .menu {
        
        border: none;
        list-style: none;
        text-align: left;
        margin-left: 4vw;
        font-size: 2.5vw;
        
    }
    
    .reseaux {
        
        width:5vw;
        display: block;
        margin:0 auto;
        
    }
    
}

.l-footer {
    
    position: relative;
    background-color: #4b4b4b;
    text-align: center;
    display: block;
    font: 2vw 'SourceSansProRegular', sans-serif;
    text-transform: uppercase;
    
    padding:3vw;
    
    a {
        &:hover,
        &:link,
        &:active,
        &:visited {
            color: #05aa88;
        }
    }
    
    color: #05aa88;
    
    @include grid-span(12, 1);
    
    .menu {
        
        text-align: center;
        
        li {
            content: "|";
            display: inline;
        }
        
    }
    
    @include breakpoint($laptop) {
        
        //@include grid-span(6,7);
        //display: none;
        
    }
    
    .reseaux {
        
            position: absolute;
            left: 90%;
            right: 0;
            top: 41%;
        
        img {
            
            width:2vw;
            margin-right: 1vw;
            
        }
        
    }
    
}

.l-map {
    @include grid-span(12, 1);
    .bloc1 {
        
        background-color: cyan;
        height: 341px;
        //@include grid-span(12,1);
        @include breakpoint($laptop) {
            
            @include grid-span(6, 7);
            
        }
        
    }
    
    .bloc2 {
        
        background-color: #00a886;
        padding: 60px 0;
        
        @include breakpoint($laptop) {
            
            @include grid-span(6, 7);
            
        }
        
        .text {
            
            color: #ffffff;
            font: 23px 'SourceSansProLight', sans-serif;
            text-align: center;
            
            .gros {
                font: 35px 'SourceSansProSemiBold', sans-serif;
                text-transform: uppercase;
            }
            
            .petit {
                font-size: 15px;
            }
            
            .tel {
                width: 1.05em;
            }
            
        }
        
    }
    
    display: block;
    
}

.home {}

.bloc_don {
    font-family: 'SourceSansProRegular';
    text-transform: uppercase;
    font-size: 2.5vw;
    padding: 5vw 2vw;
    color: #9D2537;
    text-align: center;
    width: 62vw;
    .don-img {
        width: 15vw;
        float: left;
        margin: 0vw 0vw;
        display: inline-block;
    }
    .text {
        padding: 4vw 0 0 7vw;
        display: inline-block;
        .title-don {
            font-family: PermanentMarker;
            font-size: 4vw;
            display: inline-block;
        }
        .asso {
            padding-top: 3vw;
        }
        .formulaire {
            font-family: 'SourceSansProLight';
            display: inline;
            background-color: #9D2537;
            padding: 2vw 3vw;
            color: white;
            margin: -10vw 0vw 0vw 22vw;
            position: absolute;
        }
    }
}

.autres_services {
    
    @include grid-span(12, 1);
    background-color: white;
    text-align: center;
    padding: 5vw;
    
    h1 {
        text-transform: uppercase;
        font-family: 'SourceSansProRegular';
        font-size: 4vw;
    }
    
    .img-pictos {
        .picto_ateliers {
            width: 15vw;
            margin: 7vw 7vw 2vw 7vw;
        }
    }
    
    .container-title-pictos {
        position: relative;
        /* margin-top: 2vw; */
        font-size: 2.5vw;
        .auto_bleue {
            margin-left: 9vw;
        }
        .menuiserie {
            margin-left: 15vw;
        }
        .ilot_gourmand {
            margin-left: 12vw;
        }
        .title-pictos {
            font-family: 'SourceSansProRegular';
            text-transform: uppercase;
            float: left;
        }
        
    }
    
}
