@import "breakpoint";
@import "../variables/variables";
@import "../variables/mixin";

.bloc_abo {
    background-color:$grey_3;
    padding:1rem;

    .inner {
        margin : auto;
        max-width:$tablet;

        font-family: 'SourceSansProRegular';
        text-transform: uppercase;
        color: $green;
        text-align: center;

        .don-img {
            text-align: center;
            img{
                 max-width:80px;
            }
            @include grid-span(5,1);
        }
        .don-txt {
            @include grid-span(7,5);
            float: none;
            color: black;

            h2{
                font-family: 'SourceSansProLight';
                font-size:1.5rem;
                //line-height: 0.7;
            }

        }

        .don-btn {
             @include grid-span(9,5);
//            a {
//                @include btn_don($green);
//
//                margin: 0px 0 0 0;
//                width: 200px;
//
//
//            }
        }
        @include breakpoint($tablet) {

            .don-img {
                 @include grid-span(2,1);
            }

            .don-txt {
                 @include grid-span(7,3);

            }
            .don-btn {
                @include grid-span(2,10);

            }

        }
    }
}
