@import "breakpoint";
@import "../variables/variables";
@import "../variables/mixin";

.bloc_abo {
    background-color:$lightgrey;
    padding:1rem;

    .inner {
        margin : auto;
        max-width:$tablet;

        font-family: 'SourceSansProRegular';
        text-transform: uppercase;
        color: $green;
        text-align: center;
        .don-img {
            text-align: center;
            img{
                 max-width:110px;
            }
            @include grid-span(12,1);
        }
        .don-txt {
            @include grid-span(12,1);
            margin : 1rem 0;
            h2{
                font-family: 'SourceSansProLight';
                font-size:1.8rem;
                line-height: 0.7;
            }

        }
        .don-btn {
            @include grid-span(12,1);
            a {
                @include btn_don($green);

                margin: 0px 0 0 0;
                width: 300px;


            }
        }
        @include breakpoint($tablet){
            .don-img {
                 @include grid-span(4,1);
            }
            .don-txt {
                @include grid-span(8,5);
                margin : 1rem 0;
                h1, h1.wtitle {
                   font-family: 'PermanentMarker';
                    font-size:2.5rem;
                }
                h2{
                    font-size:1.8rem;
                }

            }
            .don-btn {
                @include grid-span(8,5)

            }

        }
         @include breakpoint($laptop){
            .don-img {
                 @include grid-span(2,1);
            }
            .don-txt {
                @include grid-span(7,3);
                //margin : 1rem 0;
                h1, h1.wtitle {
                   font-family: 'PermanentMarker';
                    font-size:2.5rem;
                }
                h2{
                    font-size:1.8rem;
                }

            }
            .don-btn {
                @include grid-span(2,10)

            }

        }
    }
}
