@import "breakpoint";
@import "../variables/variables";
@import "../variables/mixin";

.bloc_abo {
    background-color:$grey_3;
    padding:1rem;

    .inner {
        margin : auto;
        max-width:$tablet;

        font-family: 'SourceSansProRegular';
        text-transform: uppercase;
        color: $green;
        text-align: center;

        .don-img {
            text-align: center;
            img{
                 max-width:80px;
            }
            @include grid-span(5,1);
        }
        .don-txt {
            @include grid-span(6,5);
            float: none;
            color: black;

            h2{
                font-family: 'SourceSansProLight';
                font-size:1.5rem;
                //line-height: 0.7;
            }

        }

        .don-btn {
             @include grid-span(6,5);

            .webform-client-form .webform-submit {

                width: 100%;

            }

        }
        @include breakpoint($tablet) {

            .don-img {
                 @include grid-span(2,1);
            }

            .don-txt {
                 @include grid-span(7,3);

            }
            .don-btn {
                @include grid-span(4,10);

            }

        }
    }

    .webform-30 {

        width: 100%;

        @include breakpoint($tablet) {

            width:195px;

        }

        @include breakpoint($laptopl) {

            width: 300px;

        }

        label[for=edit-submitted-email]
        {

            display: none;

        }

        .email {

            @include breakpoint($tablet){

                width:195px;

            }

            @include breakpoint($laptopl) {

                @include grid-span(10,1);

            }

            input {

                padding: 7.5px 0px;
                text-align: center;
                color: $green;

            }

        }

        .submit {

            max-width: 150px;
            margin: 0 auto;

            @include breakpoint($laptopl) {

                @include grid-span(6,11);

            }

        }

    }

}
