.bloc2 {

    padding-top: 14px;
    min-height: 340px;
    background-color: #00a886;

    @include breakpoint($laptop) {
        @include grid-span(6, 7);
    }
    height: 341px;

    h1{
        font-size: 1.75rem;
    }

    line-height: 1.2rem;

    img{

        width:1em;
        display: inline;

    }

    .telephone {

        display: inline;

        p {

            display: inline;

        }

    }

   a {
    &:hover, &:link, &:active, &:visited {
        color: white;
        text-decoration: none;
        }
    }

}
