@import "singularitygs";
@import "breakpoint";
@import "../variables/variables";

.atelier {
    font-family: 'SourceSansProRegular';

    .triangles{
        @include triangles(transparent,transparent);
        margin-top:-35px;
        @include breakpoint($tablet) {
            margin-top:-60px;
        }
    }

    .contact {
        @include btn($green);
        margin-left:auto;
        margin-right: auto;
        display: block;
        &:hover {
            color: white;
            text-decoration: red;
            cursor:pointer;
        }
    }

    .atelier-header-bg {
       img{
            display:block;
        }
    }

    .block-orange {
        width: 100%;
        height: 10vw;
        background-color: #f7941d;
    }

.atelier-color {
    text-align:left;

        &.text {

            h1 {

                padding: 0 0 1rem 0;

            }

            h2 {

                padding: 1.25rem 0;

            }

            ul {
                margin-left: 15px;

                li {
                    position: relative;
                    &:before{
                        content:"";
                        height: 7px;
                        width: 7px;
                        position:absolute;
                        top:5px;
                        left:-15px;
                        border-radius:50%;
                    }
                    margin-left:15px;
                    list-style: none inside none;
                }
            }

               em {

                font-family: 'SourceSansProItalic';

            }

            strong {

                //font-family: "SourceSansProBold";
                font-weight: 900;

            }
        }
    }

    a {
        text-decoration: none;
        padding-bottom: 15px;
    }

    .pictotitlecontainer .pictotitle {

        top: 30%;

        @include breakpoint($tablet) {
            top: 37%;
        }

    }

    .pictotitlecontainer .title {

        top: 67%;

        @include breakpoint($tablet) {
              top: 75%;
        }

    }

}

.atelier-liens {

   .active {
        padding-bottom: 0.1rem;
        border-bottom: 2.5px solid white;
    }

    position: absolute;
    width: 100%;
    bottom: 0.3rem;
    font-size: 1.2rem;

    a {

     color:white;    
        
    }
    
    @include breakpoint($tablet) {
         font-size:1.3rem;
         bottom: 1rem;

        .active {
            padding-bottom: 0.2rem;
           
         }

    }

    .services-lien,
    .actualites-lien {
        font-weight: 500;
        text-transform:uppercase;
        text-align: center;
        padding-left : 0rem;
        display:inline-block;
        width:50%;
       
    }
    
}
