@import "singularitygs";
@import "breakpoint";
@import "../variables/variables";

.atelier {
    font-family: 'SourceSansProRegular';

    .triangles{
        @include triangles(transparent,transparent);
        margin-top:-35px;
        @include breakpoint($tablet) {
            margin-top:-60px;
        }
    }

    .atelier-body {
        line-height: 1.4em;
        margin-left: 7%;
        margin-right: 7%;
        font-size:15px;
        @include breakpoint($laptop) {
            font-size:20px;
        }
        @include breakpoint($laptopxl) {
            font-size:25px;
        }
        strong {
            font-weight: 800;
        }
        em {
            font-style: italic;
        }
    }

    .contact {
        @include btn($green);
        margin-left:auto;
        margin-right: auto;
        display: block;
        &:hover {
            color: white;
            text-decoration: red;
            cursor:pointer;
        }
    }
    .atelier-header-bg {
       img{
            display:block;
        }
    }
    .block-orange {
        width: 100%;
        height: 10vw;
        background-color: #f7941d;
    }
.atelier-color {
    text-align:left;
        &.text {
            max-width:$laptop;
            margin:0 auto;
            padding: 2rem;
            ul {
                margin-left: 15px;
                li {
                    position: relative;
                    &:before{
                        content:"";
                        height: 7px;
                        width: 7px;
                        position:absolute;
                        top:5px;
                        left:-15px;
                        border-radius:50%;
                    }
                    margin-left:15px;
                    list-style: none inside none;
                }
            }
        }
    }
    a {
        text-decoration: none;
    }

    .pictotitlecontainer .pictotitle {

        top: 30%;

        @include breakpoint($tablet) {
            top: 37%;
        }

    }

    .pictotitlecontainer .title {

        top: 67%;

        @include breakpoint($tablet) {
              top: 75%;
        }

    }

}

.atelier-liens {
   .active {
        padding-bottom: 0.1rem;
        border-bottom: 2.5px solid white;
    }
    position: absolute;
    width: 100%;
    bottom: 0.5rem;
    font-size: 1.1rem;

    a {
     color:white;    
        
    }
    
    @include breakpoint($tablet) {
          font-size:1.3rem;
         bottom: 1rem;

        .active {
            padding-bottom: 0.2rem;
           
         }

    }
    .services-lien,
    .actualites-lien {
        font-weight: 500;
        text-transform:uppercase;
        text-align: center;
        padding-left : 0rem;
        display:inline-block;
        width:50%;
       
    }
    
}
