@import "breakpoint";
@import "../variables/variables";
@import "../variables/mixin";

.bloc_don {

    font-family: 'SourceSansProRegular';
    text-transform: uppercase;
    color: #9D2537;
    text-align: center;

//    @include breakpoint($tablet) {
//
//        width: 83vw;
//
//    }

    .don-img {

        width: 19vw;
        //        margin-right: 0px;
        //        margin: auto;
        //        display: inline-block;

        position: absolute;
        left: 0;
        right: 463px;
        margin: auto;

        @include breakpoint($tablet) {

            width: 9vw;
            //margin-right: 83px;

        }

    }

    .text-presentation-block {

        display: block;

        h1, h1.wtitle {

           font-family: 'PermanentMarker';

        }

    }

}

