@import "breakpoint";
@import "../variables/variables";
@import "../variables/mixin";

.bloc_don {

    background-color:$lightgrey;
    padding:1rem;

    .inner {
        margin : auto;
        max-width:$tablet;
       
        font-family: 'SourceSansProRegular';
        text-transform: uppercase;
        color: #9D2537;
        text-align: center;
        .don-img {

            @include grid-span(2,1);

        }

        .don-txt {
            @include grid-span(8,3);
            h1, h1.wtitle {
               font-family: 'PermanentMarker';
                font-size:2rem;
            }
            h2{
                font-size:1.5rem; 
            }
           
        }

        .don-btn {

            @include breakpoint($laptop) {

                @include grid-span(2,11);

            }

            a {

                @include btn(#9D2537);

                margin: 120px 0 0 0;
                width: 300px;

                @include breakpoint($laptop) {

                    margin:20px 0;
                    width: 200px;

                }
            }
        }
    }
}


.bloc2{
    font-family: "SourceSansProLight";
    color: #ffffff;
    text-align: center;
    padding:1rem;
    h1 {
        font-family: "SourceSansProRegular";
        text-transform: uppercase;
    }
    .petit {
        font-size: 15px;
    }
    .tel {
        width: 1.05em;
    }
}
