.atelier-gallerie {

    max-width: 900px;
    with:100%;
    height: auto;

    margin: 20px auto 20px auto;

    @include breakpoint($laptop) {

        margin: 30px auto 30px auto;

    }

    @include breakpoint($laptopl) {

        margin: 40px auto 40px auto;

    }

}

.atelier-gallerie-thumbnails {

    display: inline-block;
    cursor: pointer;

    .atelier-gallerie-image {

        display: inline-block;

    }

}


.offres-speciales-gallerie {

    width: 900px;
    height: auto;

    margin: 20px auto 20px auto;

    @include breakpoint($laptop) {

        margin: 30px auto 30px auto;

    }

    @include breakpoint($laptopl) {

        margin: 40px auto 40px auto;

    }

}

.offres-speciales-gallerie-thumbnails {

    display: inline-block;
    cursor: pointer;

    .offres-speciales-gallerie-image {

        display: inline-block;

    }

}
