@import "breakpoint";
@import "../variables/variables";
@import "../variables/mixin";

body {

    font-family: 'SourceSansProRegular';

}

.bkg-blanc {

    background-color:white;

}

.left {

    float:left;

}

.text-presentation {

    font-size:15px;
 

     @include breakpoint($laptop) {

        font-size:1.25vw;

    }

     @include breakpoint($laptopl) {

        font-size:20px;

    }

    p {

        padding:0 2vw;

    }

    h1, h1.wtitle {

       text-transform: uppercase;
       font-family: 'SourceSansProSemiBold';
       font-size:20px;
       padding: 20px 0;

        @include breakpoint($laptop) {

            font-size:25px;
            padding: 1.5vw 0;

        }

         @include breakpoint($laptopl) {

            font-size:30px;
            padding: 25px 0

        }

    }

    h2, h2.wsubtitle {

       text-transform: uppercase;
       font-family: 'SourceSansProSemiBold';
       font-size:15px;
       padding: 20px 0;

        @include breakpoint($laptop) {

            font-size:20px;
            padding: 1.5vw 0;

        }

         @include breakpoint($laptopl) {

            font-size:25px;
            padding: 25px 0;

        }

    }

    em {

        font-family: 'SourceSansProItalic';

    }

    ol {

        list-style: decimal;
        padding:0 4vw;

    }

    ul {

        list-style: initial;
        padding:0 4vw;

    }

}

.text-presentation-block {

    padding: 4vw 7vw 0 7vw;
    display: inline-block;

    h1 {

        display: inline-block;
        font-size:20px;

        @include breakpoint($laptop) {

            font-size:45px;

        }

         @include breakpoint($laptopl) {

            font-size:50px;

        }

    }

    h2 {

        padding-top:1.5vw;

        @include breakpoint($tablet) {

            font-size:20px;


        }

        @include breakpoint($laptop) {

            font-size:25px;

        }

         @include breakpoint($laptopl) {

            font-size:30px;

        }

    }

    .formulaire {

        font-family: 'SourceSansProLight';
        background-color: #9D2537;
        padding: 15px 35px;
        color: white;
        font-size:15px;

        margin: 30px auto;
        font-size: 15px;
        width: 247px;

        position: relative;

        @include breakpoint($tablet) {

            display: inline;
            position: absolute;
            margin:-50px 0 0 142px;

        }

        @include breakpoint($laptop) {

            font-size:20x;
            margin:-50px 0 0 242px;

        }

         @include breakpoint($laptopl) {

            font-size:25px;
             margin: -50px 0 0 300px;
             width: 338px;

        }

        .f_g_droite {

            position: absolute;
            width: 10px;
            left: 217px;
            bottom: 12px;

            @include breakpoint($tablet) {

                width: 9px;
                left: 216px;
                bottom: 13px;

            }

            @include breakpoint($laptop) {

                width: 10px;
                left: 220px;
                bottom: 12px

            }

            @include breakpoint($laptopl) {

                width: 12px;
                left: 312px;
                bottom: 15px;

            }

        }

    }

}

    .pictotitlecontainer {

        width:100%;
        position: relative;

        .image {

             width:100%;

        }

        .pictotitle {

            @include translate(-50%,-50%);
            position:absolute;
            top: 37%;
            left: 50%;

            img {

                width:16vw;

                @include breakpoint($mobilel) {

                    width:18vw;

                }

                @include breakpoint($laptop) {

                    width:20vw;

                }

                 @include breakpoint($laptopl) {

                    width:250px;

                }

            }

        }

        .title {

            @include translate(-50%,-50%);
            position:absolute;
            top: 75%;
            left: 50%;
            text-transform: uppercase;
            color: white;

            font-size:20px;

            @include breakpoint($mobilel) {

                font-size:25px;

            }

            @include breakpoint($laptop) {

                font-size:35px;

            }

             @include breakpoint($laptopl) {

                font-size:40px;

            }

        }

        .liens {

            @include translate(-50%,-50%);

            text-transform: uppercase;
            color: white;

            text-align: center;

            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;

            @include breakpoint($mobilel) {

                width: 412px;

            }

            @include breakpoint($tablet) {

                width: 75vw;

            }

            @include breakpoint($laptop) {

                width: 80vw;

            }

             @include breakpoint($laptopl) {

                width: 90vw;

            }

            z-index: 1000000;
            font-size: 20px;

            top: 90%;
            left: 69%;

            a {

                color:white;

            }

            .actualites {

                float: right;

            }

            .services {

                margin-left: -150px;

                @include breakpoint($laptop) {

                    margin-left: 0px;

                }

                @include breakpoint($laptopl) {

                    margin-left: 0px;

                }

            }

            font-size:20px;

            @include breakpoint($mobilel) {

                    top: 92%;
                    left: 69%;
                    font-size: 20px;

            }

            @include breakpoint($laptop) {

                top: 93%;
                left: 52%;
                font-size: 28px;

            }

             @include breakpoint($laptopl) {

                top: 93%;
                font-size: 30px;

            }

        }

    }


.actus, .offre-speciale {

        margin: 50px 50px;
        min-height: 207px;

        .views-field-field-image, img {

                float: left;

        }

        .views-field-field-title,  .title-offre-speciale {

            text-transform: uppercase;
            font-weight: 900;
            font-size:22px;
            padding:10px 0px;
        }

        .views-field-view-node, .plus  {

           
            position: relative;
        
            @include btn(#FF0000);
            margin:30px auto;
           
           

        }

        div {

            &:not(:first-child) {

                max-width:750px;
                margin-left:250px;

            }

        }

        .text-actus {

            p, h2.wsubtitle, h1.wtitle {

                display:none;

                @include breakpoint($laptop) {

                    display: block;

                }

            }

        }

    }


.pager {

    clear: both;
    padding: 0;
    text-align: right;
    margin: 50px 50px;

    .pager__item--current {

        padding: 1.5px 13.5px;
        text-align: center;
        color: white;

    }

}

.offre-speciale {
    .left{
    img {

         width:220px;
         height:84px;

        @include breakpoint($laptop) {

            float: left;

        }

    }
        
    }

}

.img-block {

    &.ilot_gourmand {

        img {

            margin:0 18px;

            @include breakpoint($tablet) {
                margin:0 50px;
            }

            @include breakpoint($laptop) {
                margin:0 100px;
            }

            @include breakpoint($laptopl) {
                margin:0 200px;
            }

        }

    }

    img {

        height: auto;
        width: 100px;

        @include breakpoint($tablet) {
            width: 125px;
        }

        @include breakpoint($laptop) {
            width: 150px;
        }

        @include breakpoint($laptopl) {
            width: 200px;
            margin-top: 14px;
        }

    }

}

.contact {

    position: relative;

}

.en_savoir_plus {
   @include btn($green);
}




