@import "breakpoint";
@import "../variables/variables";
.picto_ateliers {
    &:hover,
    &:link,
    &:active,
    &:visited {
        color: white;
    }
    img {
        width:80%;
        max-width:150px;
        height: auto;
    }
}

.block-all {
    position:relative;
    .block-img {
        width: 100%;
        height: 100%;
        background-size:cover;
        background-position:center;
        img{
            display:none;
            @include breakpoint($tablet){
                display:block;
            }
        }
    }
    .block-w {
        color: white;
        text-align: center;
        display: block;
        background: rgba(255, 255, 255, 0.25);
        position:absolute;
        top:50%;
        left:50%;
        width:100%;
        transform : translate(-50%,-50%);
        padding: 2rem;
 
        .par-bienvenue {
            font-family: 'SourceSansProLight';
            text-align: center;
            margin: 2rem 0;
            @include breakpoint($tablet) {
                text-align: left;
            }
            
        }
        .title-bienvenue {
            font-family: PermanentMarker;
            font-size: 2rem;
            @include breakpoint($mobilel){
                 font-size: 2.5rem;
            }
            @include breakpoint($tablet) {
                font-size: 3rem;
            }
            @include breakpoint($laptop) {
                text-align: left;
                
            }
            @include breakpoint($laptopl) {
                
            }
        }
        .ateliers{
            width:100%;
            .atelier{
                 @include atelier();
            }
            @include breakpoint($tablet){
                width:50%;
                margin:auto
                    .atelier{
                        img{
                         width:50%;
                        }    
                    }
                
            }
        }
        .container-title-pictos {
            position: relative;
            .title-pictos {
                font-family: 'SourceSansProRegular';
                text-transform: uppercase;
                @include breakpoint($mobiles) {
                    position: absolute;
                    margin-top: 5vw;
                   
                }
               
            }
        }
    }
}

.header-img-mobile {
    @include breakpoint($laptop) {
        display: none;
    }
    //position:absolute;
}

.logo-img {
    position: absolute;
    /* float: left; */
    left: 0;
    right: 0;
    @include breakpoint($mobiles) {
        width: 14em;
        top: 30vw;
        margin: 0 auto;
    }
    @include breakpoint($mobilem) {
        width: 16em;
    }
    @include breakpoint($mobilel) {
        width: 22em;
    }
    @include breakpoint($tablet) {
        width: 25em;
    }
    @include breakpoint($laptop) {
        display: none;
    }
}

.menu-web {
    height: 9vw;
    background-color: white;
    display: none;
    @include breakpoint($laptop) {
        display: block;
    }
}

.home-body-actu {
    .actu {
        padding: 30px;
        .body_offres {
            display: block;
            @include breakpoint($tablet) {
                display: inline-block;
                width: 49%;
            }
            &.text-presentation {
                padding: 0;
            }
        }
        .im_offres {
            display: block;
            padding: 0 0 0 20px;
            @include breakpoint($tablet) {
                display: inline-block;
                width: 50%;
                position: absolute;
            }
        }
    }
}

.home-body-solidarite {
    .body_solidarite {
        padding: 30px;
        display: block;
        @include breakpoint($tablet) {
            display: inline-block;
            width: 49%;
        }
        &.text-presentation {
            padding: 0;
        }
    }
    .image_solidarite {
        display: block;
        padding: 0 0 0 20px;
        @include breakpoint($tablet) {
            display: inline-block;
            width: 50%;
            position: absolute;
        }
    }
    .en_savoir_plus {
        border: solid 1px black;
        color: black;
        background-color: white;
    }
}