@import "singularitygs";
@import "breakpoint";
@import "../variables/variables";

.l-header {

    .menu {
        $h: 100px;
        height: $h;
        li {
            
            text-transform: uppercase;
            display: inline-block;
            line-height: $h;
            font-size: 1.2rem;
            margin: 0 0.4rem;
            a {
                &.active{
                    padding-bottom: 1rem;
                    border-bottom: 3px solid $green;
                }
            }
            a {
                text-decoration: none;
            }
            @include breakpoint($laptop) {
                font-size: 1.4rem;
                margin: 0 0.8rem;
            }
            @include breakpoint($laptopl) {
                font-size: 1.8rem;
                margin: 0 1.2rem;
            }
        }
    }
}

.l-off {

    .menu {

            border: none;
            list-style: none;
            text-align: left;
            margin-top:1rem;

        a {
            color: white;

            &:hover, &:link, &:active, &:visited {

                text-decoration: none;

            }

            &.active {

                color:$green;

                &:hover {

                    color:white;

                }

            }

        }


        li.leaf {

            list-style-type: none;
            list-style-image: none;

            a {

                padding: 2rem 3rem 1.5rem 3rem;
                display: block;
                margin:auto;

                &:hover {

                    background-color:$green;

                }

            }

            &:after {

                content:"";
                border-bottom: solid 1px white;
                margin:0 2rem;
                display: block;

            }

        }

        li.expanded {

            list-style-type: none;
            list-style-image: none;

            a {

                padding: 2rem 3rem 1.5rem 3rem;
                display: block;
                margin-left: auto;


                &:hover {

                    background-color:$green;

                }

            }

            &:after {

                content:"";
                border-bottom: solid 1px white;
                margin:0 2rem;
                display: block;

            }

            ul {

                margin-top:0rem;

                li {

                    font-size:0.9rem;

                    a {

                        padding: 2rem 3rem 1.5rem 6rem;

                        &:after {

                            content:"";
                            border-bottom: none;
                            display: block;

                        }

                    }

                    &:after {

                        content:"";
                        border-bottom: none;

                    }

                }

            }

        }

    }

    @include breakpoint($laptop) {
        //@include grid-span(6,1);
        display: none;
    }

    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 375ms ease-in-out;
    -moz-transition: all 375ms ease-in-out;
    transition: all 375ms ease-in-out;
    display: block;
    @include breakpoint($mobilel){
        width:70%;
    }
    &.h {
        visibility: hidden;
        left: -100%;
    }
    &.o {
        left: 0px;
    }
    background-color: #4b4b4b;
    text-transform: uppercase;


.logo {
        width: 10rem;
        margin: 0 auto;
        display: block;
        margin-top: 3rem;
    }

    .reseaux {
        display: block;
        text-align: center;
        padding-top: 2.5rem;
        color:white;
        font-size: 2rem;

        img {
            width: 2rem;
            margin:0 2.5rem;
        }

    }

}

.l-off {

    
}
