.presentation{

    .text-presentation{

        padding: 3vw 5vw;

        a {

            &:hover,
            &:link,
            &:active,
            &:visited {
                color: $green;
            }

        }

    }

    .atelier-gallerie-big {

        text-align: center;

            img {

                margin:1rem;
             

            }

           

        }

    }


