.presentation{

.text-presentation {

    padding: 1vw 6vw;

    @include breakpoint($laptopl) {
        padding: 10px 85px;
    }

    a {

        &:hover,
        &:link,
        &:active,
        &:visited {
            color: $green;
        }

    }

}

.atelier-gallerie-big {

    text-align: center;

        img {

            margin:1rem;


        }

    }

}


