.presentation {

    .atelier-gallerie-big {

        text-align: center;

            img {

                margin:1rem;
                width:8rem;

                &:last-child {

                    width:6rem;

                }

            }

        }

    }


