@import "singularitygs";
@import "breakpoint";
@import "../variables/variables";

.atelier {

    .actus {

//      border-bottom: 3px solid orange;
        margin: 50px 50px;

//        @include breakpoint($laptop) {
//
//                height: 207px;
//
//        }

        .views-field-field-image {

            @include breakpoint($laptop) {

                float: left;

            }

        }

        .views-field-field-title {

            text-transform: uppercase;
            font-weight: 900;
            font-size:22px;
            padding:10px 0px;
        }

        .views-field-created-1 {

            max-width:10000px;
            //text-align: right;

            @include breakpoint($laptop) {

                float: right;

            }

            background-image: url("../images/calendrier.svg");
            background-repeat: no-repeat;

            width:3em;
            height: 3em;

             span {

             text-align: center;
             display: block;
             color: white;
             font-size: 20px;
             padding-top: 11px;
             margin-top: 20px;

            @include breakpoint($laptop) {

                    margin-top: 11px;
                    padding-top: 0px;

                }

            }

//            @include breakpoint($laptop) {
//
//                float: right;
//
//            }
//
//            width:150px;
//            text-align: center;
//            margin:30px 0;
//            padding: 5px 25px;

        }

        .views-field-created {

        max-width:10000px;
        margin-left:0px !important;
        margin-top: 10px;

        @include breakpoint($laptop) {

            text-align: right;
            margin-top: 56px;

        }

        text-transform: uppercase;


//            @include breakpoint($laptop) {
//
//                float: right;
//
//            }
//
//            width:150px;
//            text-align: center;
//            margin:30px 0;
//            padding: 5px 25px;

        }

        .views-field-view-node  {

            @include breakpoint($laptop) {

                float: right;

            }

            width:150px;
            text-align: center;
            margin:30px 0;
            border: 1px solid black;
            padding: 5px 25px;

        }

        div {

            &:not(:first-child) {

                //max-width:750px;

                @include breakpoint($laptop) {

                    margin-left:250px;

                }

            }


        }


    }


}

