@import "singularitygs";
@import "breakpoint";
@import "../variables/variables";

.webform-client-form {

    max-width: 570px;
    width:100%;
    margin: 100px auto;
    background-color: #d8d8d8;
    padding: 100px;

    label {

        margin-bottom: 15px;

    }

    input {

        border:none;

    }

    textarea {

        border:none;

    }

    .webform-submit {

        background-color: #00a886;
        float: right;
        padding:7.5px 30px;
        color:white;
        text-transform: uppercase;
        with:100px !important;

    }

    @include breakpoint($mobilem) {

        input {

            width:100%;

        }

    }

    @include breakpoint($tablet) {

        width:100%;

    }

}
