.atelier-gallerie {

    max-width: 900px;
    width:100%;
    height: auto;
    margin: 100px auto 100px auto;

}

.atelier-gallerie-thumbnails {

    display: inline-block;
    cursor: pointer;

    .atelier-gallerie-image {

        display: inline-block;

    }

}


.offres-speciales-gallerie {

    max-width: 900px;
    width:100%;
    height: auto;
    margin: 100px auto 100px auto;

}

.offres-speciales-gallerie-thumbnails {

    display: inline-block;
    cursor: pointer;

    .offres-speciales-gallerie-image {

        display: inline-block;

    }

}
