@import "breakpoint";
@import "../variables/variables";
@import "../variables/mixin";

body {

    font-family: 'SourceSansProRegular';

}

.bkg-blanc {

    background-color:white;

}

.left {

    float:left;

}

.text-presentation {

    font-size:15px;
    padding:4vw;

     @include breakpoint($laptop) {

        font-size:1.25vw;

    }

     @include breakpoint($laptopl) {

        font-size:20px;

    }

    p {

        padding:0 2vw;

    }

    h1, h1.wtitle {

       text-transform: uppercase;
       font-family: 'SourceSansProSemiBold';
       font-size:20px;
       padding: 20px 0;

        @include breakpoint($laptop) {

            font-size:25px;
            padding: 1.5vw 0;

        }

         @include breakpoint($laptopl) {

            font-size:30px;
            padding: 25px 0

        }

    }

    h2, h2.wsubtitle {

       text-transform: uppercase;
       font-family: 'SourceSansProSemiBold';
       font-size:15px;
       padding: 20px 0;

        @include breakpoint($laptop) {

            font-size:20px;
            padding: 1.5vw 0;

        }

         @include breakpoint($laptopl) {

            font-size:25px;
            padding: 25px 0;

        }

    }

    em {

        font-family: 'SourceSansProItalic';

    }

    ol {

        list-style: decimal;
        padding:0 4vw;

    }

    ul {

        list-style: initial;
        padding:0 4vw;

    }

}

.text-presentation-block {

    padding:4vw 0 0 7vw;
    display: inline-block;

    h1 {

        display: inline-block;
        font-size:20px;

        @include breakpoint($laptop) {

            font-size:45px;

        }

         @include breakpoint($laptopl) {

            font-size:50px;

        }

    }

    h2 {

        padding-top:1.5vw;
        font-size:20px;

        @include breakpoint($laptop) {

            font-size:25px;

        }

         @include breakpoint($laptopl) {

            font-size:30px;

        }

    }

    .formulaire {

        font-family: 'SourceSansProLight';
        display: inline;
        background-color: #9D2537;
        padding: 1vw 2vw;
        color: white;
        margin: -5vw 0vw 0vw 22vw;
        position: absolute;
        font-size:15px;

        @include breakpoint($laptop) {

            font-size:20x;

        }

         @include breakpoint($laptopl) {

            font-size:25px;

        }

    }

}

    .pictotitlecontainer {

        width:100%;
        position: relative;

        .image {

             width:100%;

        }

        .pictotitle {

            @include translate(-50%,-50%);
            position:absolute;
            top: 34%;
            left: 50%;

            img {

                width:16vw;

            }

        }

        .title {

            @include translate(-50%,-50%);
            position:absolute;
            top: 75%;
            left: 50%;
            text-transform: uppercase;
            color: white;
            font-size: 2.5vw;

        }

        .liens {

            @include translate(-50%,-50%);
            position:absolute;
            top: 93%;
            left: 50%;
            text-transform: uppercase;
            color: white;
            font-size: 1.75vw;
            width: 50vw;

            a {

                color:white;

            }

            .actualites {

                float: right;

            }

        }

    }


.actus, .offre-speciale {

//        border-bottom-width:3px;
//        border-bottom-style:solid;
        margin: 50px 50px;

        @include breakpoint($laptop) {

                min-height: 207px;

        }

        .views-field-field-image, img {

            @include breakpoint($laptop) {

                float: left;

            }

        }

        .views-field-field-title,  .title-offre-speciale {

            text-transform: uppercase;
            font-weight: 900;
            font-size:22px;
            padding:10px 0px;
        }

        .views-field-view-node, .plus  {

            @include breakpoint($laptop) {

                float: right;

            }

            width:150px;
            text-align: center;
            margin:30px 0;
            border: 1px solid black;
            padding: 5px 25px;

        }

        div {

            &:not(:first-child) {

                max-width:750px;

                @include breakpoint($laptop) {

                    margin-left:250px;

                }

            }

        }

    }


.pager {

    clear: both;
    padding: 0;
    text-align: right;
    margin: 50px 50px;

    .pager__item--current {

        padding: 1.5px 13.5px;
        text-align: center;
        color: white;

    }

}

.offre-speciale {

    img {

         width:220px;
         height:84px;

        @include breakpoint($laptop) {

            float: left;

        }

    }

}


