@import "../variables/mixin";
.imagetitle{
    width:100%;
    position: relative;
    .image{
        width:100%;

    }
    .title{
        @include translate(-50%,-50%);
        position:absolute;
        font-family: "PermanentMarker";
        color: #ffffff;
        font-size : 3em;

    }

}
